appdirs
attrs
mttkinter
python-dateutil
yasf
#
# cloud services
sentry-sdk
sentry-sdk[flask]
awsimple
#
# dev only
sphinx
semantic_version
wheel
black
pytest
coverage
pytest-cov
pytest-pycharm
moto
ismain
PyQt5
PyQt5-stubs
twine
flake8
mypy
types-python-dateutil
python-dotenv
#
# pyautogui
pyobjc-core; sys_platform == 'darwin'
pyobjc; sys_platform == 'darwin'
pyautogui; sys_platform == 'darwin' or sys_platform == 'win32'
#
pygments
