appdirs
attrs
mttkinter
sentry-sdk
sentry-sdk[flask]
#
# dev only
sphinx
semantic_version
wheel
black
pytest
coverage
pytest-cov
PyQt5
twine
#
# pyautogui
pyobjc-core; sys_platform == 'darwin'
pyobjc; sys_platform == 'darwin'
pyautogui
#
pygments
